body {
    margin: 0;
}

.fundo{
    background-color: #8102db;
}

.linha{
    display:flex;
    flex-direction:row;
}/*Fechamento linha*/


.menu{
    background:#a30a91;
    width: 15%;
}/*Fechamento linha*/

.conteudo {
    width: 85%;
    min-height: 100vh;
    background: #8102db;
    border: 200px;   
}

.button1{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 10%;
    height: 70px;
    cursor:pointer;
    border-radius: 10px;
    
}/*Fechamento botao*/

.header{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;  
    border-radius: 10px;

}/*Fechamento linha*/

.othersDice {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    
}

.menu button{
    border-radius: 5px;
    background-color:#460840;
    height: 30px;
    width: 70px;
    cursor:pointer;
    color:#e4e4e4;
}



.header button {
    border: 1px solid #5108;
    border-radius: 10px;
    background-color: rgba(182, 158, 197, 0.907);
    height: 60px;
    width: 75px;
    margin-bottom: 150px;
    cursor:pointer;
}

.btn {
    width: 150px;
    height: 150px;
    background-color:rgba(182, 158, 197, 0.907);
    border:#a30a91;
    border-radius: 10px;
    cursor:pointer;
    border:2px solid #5108;
    margin-bottom: 100px;
}

.header button:hover{
    background-color:rgba(162, 120, 188, 0.907);
}

.menu button:hover{
    background-color:#bc55b2;
}


.btn:hover {
    background-color:rgba(162, 120, 188, 0.907);

}

.btn1:hover{
    background-color: rgba(162, 120, 188, 0.907);

}

.roll-button:hover {
  background-color: rgba(162, 120, 188, 0.907);
}

.btn1 {
    background-color:rgba(182, 158, 197, 0.907);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 170px;
    margin-right: 170px;
    width: 150px;
    height: 150px;
    cursor:pointer;
    border: 2px solid #5108;
}

.justfyImg {
    width: 105px;
    height: 105px;
}

.dado{
    position: fixed;
    left: 5%;
    bottom: 1%;
}

h1{
    color: #e4e4e4;
    text-shadow: rgb(81, 8, 73) 1px 0px 0px, rgb(81, 8, 73) 0.540302px 0.841471px 0px, rgb(81, 8, 73) -0.416147px 0.909297px 0px, rgb(81, 8, 73) -0.989992px 0.14112px 0px, rgb(81, 8, 73) -0.653644px -0.756802px 0px, rgb(81, 8, 73) 0.283662px -0.958924px 0px, rgb(81, 8, 73) 0.96017px -0.279416px 0px;

}

#loogo{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 2%;
    left: 85%;
    cursor:pointer;
}











.telaDado {
  display: grid;
  place-items: center;
  width: 250px;
  padding: 0px 0 5%;
  background: #eeeeee;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  border-radius: 30px;
  
}

.container {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 40px 0 40px;
  border-radius: 30px;
  background: #8102DB;
  
}

/*
  Dice Styles
*/

.dice {
  position: center;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 1s ease;
}

@keyframes rolling {
  50% {
      transform: rotateX(455deg) rotateY(455deg);
  }
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 5px solid #f6f3f0;
  transform-style: preserve-3d;
  background: linear-gradient(
      145deg, #dddbd8, #fff
  );
}

.face::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #f6f3f0;
  transform: translateZ(-1px);
}

.face::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #131210;
}

.front {
  transform: translateZ(50px);
}

.back {
  transform: rotateX(180deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.front::after {
  width: 30px;
  height: 30px;
  background: #ff0076;
  margin: -15px 0 0 -15px;

  background-image: url('./Imagens/arco.png');
}

.back::after {
  margin: -35px 0 0 -30px;
  box-shadow: 40px 0,
              0 25px,
              40px 25px,
              0 50px,
              40px 50px;
}

.top::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 40px;
}

.bottom::after {
  margin: -36px 0 0 -36px;
  box-shadow: 26px 26px,
              52px 52px,
              52px 0,
              0 52px;
}

.right::after {
  margin: -30px 0 0 -30px;
  box-shadow: 40px 0,
  0 40px,
  40px 40px;
}

.left::after {
  margin: -35px 0 0 -35px;
  box-shadow: 25px 25px,
              50px 50px;
}

/*
  Roll Button styles
*/

.roll {
  position: center;
  cursor: pointer;
  background-color:rgba(187, 121, 227, 0.5);
  color: #510849;
  margin-top: 5px;
  padding: 6px 12px;
  border-radius: 10px;
  font: 700 16px 'Montserrat';
  border: 2px solid #510849;
  transition: .4s;
}

.roll:hover {
  color: #fff;
  background-color:rgba(162, 120, 188, 0.907);
}