body {
    margin: 0;
}

.fundo{
    background-color: #8102db;
}

.linha{
    display:flex;
    flex-direction:row;
    margin-bottom:100px; 
}/*Fechamento linha*/

.linha1{
    display:flex;
    flex-direction:row;
    margin-top: 50px;
    margin-bottom:90px; 
    margin-left: 100px;
}/*Fechamento linha*/

button{
    font-size:1rem;
    width: 200px;
    height:200px;
    margin-right:300px;
    border: 2,1px solid #5108;
    border-radius:10px;
    background-color: rgb(182, 158, 197, 0.907);
    cursor: pointer;
}

button:last-child{
    margin-right:0;

}

button:hover{
    background-color:  rgba(148, 104, 176, 0.907);
    color: #9946eb;
}



.menu{
    background:#a30a91;
    width: 15%;
}/*Fechamento linha, fundo rosa*/

.conteudo {
    width: 85%;
    min-height: 100vh;
    background: #8102db;
    border: 200px;   
}/*Fundo roxo*/

.button1{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 10%;
    height: 70px;
    cursor:pointer;
    border-radius: 10px;
    
}/*Fechamento botao*/

.header {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;  
    border-radius: 10px;

}/*Fechamento linha*/

.menu button{
    border-radius: 5px;
    background-color:#460840;
    height: 30px;
    width: 70px;
    cursor:pointer;
    color:#e4e4e4;
}



.header button {
    border: 1px solid #5108;
    border-radius: 10px;
    background-color: rgba(182, 158, 197, 0.907);
    height: 60px;
    width: 175px;
    margin-bottom: 100px;
    cursor:pointer;
}


.header button:hover{
    background-color:rgba(162, 120, 188, 0.907);
}

.menu button:hover{
    background-color:#bc55b2;
}


.btn:hover {
    background-color:rgba(162, 120, 188, 0.907);

}

.btn1:hover{
    background-color: rgba(162, 120, 188, 0.907);

}

.roll-button:hover {
  background-color: rgba(162, 120, 188, 0.907);
}

.btn1 {
    background-color:rgba(182, 158, 197, 0.907);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 170px;
    margin-right: 170px;
    width: 150px;
    height: 150px;
    cursor:pointer;
    border: 2px solid #5108;
}

.justfyImg {
    width: 90%;
    height: 90%;
    border-radius: 10px;

}

.dado{
    position: fixed;
    left: 5%;
    bottom: 1%;
}
h1{
    color: #e4e4e4;
    text-shadow: rgb(81, 8, 73) 1px 0px 0px, rgb(81, 8, 73) 0.540302px 0.841471px 0px, rgb(81, 8, 73) -0.416147px 0.909297px 0px, rgb(81, 8, 73) -0.989992px 0.14112px 0px, rgb(81, 8, 73) -0.653644px -0.756802px 0px, rgb(81, 8, 73) 0.283662px -0.958924px 0px, rgb(81, 8, 73) 0.96017px -0.279416px 0px;

}

#loogo{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 2%;
    left: 85%;
    cursor:pointer;
}

