body {
    margin: 0;
}

.fundo{
    background-color: #8102db;
}

.linha{
    display:flex;
    flex-direction:row;
}/*Fechamento linha*/


.menu{
    background:#a30a91;
    width: 15%;
}/*Fechamento linha*/

.conteudo {
    width: 85%;
    min-height: 100vh;
    background: #8102db;
    border: 200px;   
}

.button1{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 10%;
    height: 70px;
    cursor:pointer;
    border-radius: 10px;
    
}/*Fechamento botao*/

.explicacao{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;  
    border-radius: 10px;

}/*Fechamento linha*/



.menu button{
    border-radius: 5px;
    background-color:#460840;
    height: 30px;
    width: 70px;
    cursor:pointer;
    color:#e4e4e4;
}

.btn {
    width: 150px;
    height: 150px;
    background-color:rgba(182, 158, 197, 0.907);
    border:#a30a91;
    border-radius: 10px;
    cursor:pointer;
    border:2px solid #5108;
    margin-bottom: 100px;
}

.explicacao button:hover{
    background-color:rgba(162, 120, 188, 0.907);
}

.menu button:hover{
    background-color:#bc55b2;
}


.btn:hover {
    background-color:rgba(162, 120, 188, 0.907);

}

.btn1:hover{
    background-color: rgba(162, 120, 188, 0.907);

}

.roll-button:hover {
  background-color: rgba(162, 120, 188, 0.907);
}

.btn1 {
    background-color:rgba(182, 158, 197, 0.907);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 170px;
    margin-right: 170px;
    width: 150px;
    height: 150px;
    cursor:pointer;
    border: 2px solid #5108;
}

.justfyImg {
    width: 105px;
    height: 105px;
}

.dado{
    position: fixed;
    left: 5%;
    bottom: 1%;
}
h1{
    color: #e4e4e4;
    text-shadow: rgb(81, 8, 73) 1px 0px 0px, rgb(81, 8, 73) 0.540302px 0.841471px 0px, rgb(81, 8, 73) -0.416147px 0.909297px 0px, rgb(81, 8, 73) -0.989992px 0.14112px 0px, rgb(81, 8, 73) -0.653644px -0.756802px 0px, rgb(81, 8, 73) 0.283662px -0.958924px 0px, rgb(81, 8, 73) 0.96017px -0.279416px 0px;

}

#loogo{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 2%;
    left: 85%;
    cursor:pointer;
}