body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, sans-serif;
    background-color: beige;

}

h1{
    font-size: 36px;
    color: rgb(116, 76, 154);
    margin-top: 0;

}
p{
    font-size: 20px;
    line-height:1.5;
    color:rgb(14, 2, 24);

}

.container{
    width:80%;
    margin:0 auto;
    background-color: rgb(215, 190, 211);
    flex-direction: column;
    display: flex;
    height: 50%;
    text-align: center;
    padding:20px;
}

@media (max-width: 768px){
    h1{
        font-size: 20px;
    }
    p{
        font-size:14px;
    }
    .container{
        width:90%;
        padding:10px;
    }
}

