.error{
    color: red;
    margin:30px;
    opacity:0;
    transition: opacity 0.5s ease-in;
}
.right{
    color: green;
    margin: 30px;
    opacity:0;
    transition: opacity 0.5s ease-in;
}
.entrada{
    opacity:1;
}

body{
    background-color: rgb(237, 229, 220);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

