.calculadora{
    position:fixed;
    top:50%;
    left:50%;
    background-color:aqua;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    font-size:2rem;
    background-image:linear-gradient(rgb(7,86,128),rgb(144, 70, 137));
    border: 1px solid #ccc;
    border-radius:4px;
    padding:20px;

}/*Fechamento calculadora*/

.tela{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    font-size:3rem;
    width:93%;
    height:80px;
    margin-bottom:20px;
    border: 3px solid #000000;
    padding:10px;
    border-radius:4px;
    background-color:#ccc;
}/*Fechamento tela*/

.botao{
    display:flex;
    flex-direction:column;
    align-items:center;
}/*Fechamento botao*/

.linha{
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}/*Fechamento linha*/

.operadores{
    background-color:#a87cc8;
    color:#302b34;
    border:2px solid;
}/*Fechamento dos operadores*/

.outros{
    background-color:rgb(92, 128, 179);
    color:#26202b;
    border: 2px solid #302b34;
}/*Fechamento outros*/

button{
    font-size:1rem;
    width: 50px;
    height:50px;
    margin-right:10px;
    border: 1,4px solid #ccc;
    border-radius:5px;
    background-color: white;
    cursor: pointer;
}

button:last-child{
    margin-right:0;

}

button:hover{
    background-color: #903bc2;
    color: #232125;
}


